/* This is the Splash Page Styling  for index.html */

/***********************************************************************/

.siteBackground {
    height: 100%;
    width: 100%;
    background-color: rgba(246, 251, 252, 1);
    margin: 0 0 0 0!important;
}
#header {
    width: 100%;
    margin: 0;
}
.headerBanner {
    width: 50%;
    float: left;
    height: 50px;
    margin: 0;
    position: relative;
    background: #5F8A8D;
}
#headerHLLink {
    width: 60% !important;
    margin: 0 auto 0 auto!important;
    float: none !important;
}
#headerHeadLine:hover {
    color: #9FBDBE;
}
#headerHeadLine {
    font-family: 'Josefin Slab', serif;
    font-size: 200%;
    color: #E7F4F3;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    animation: fadeIn 2s;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#headerMenu {
    margin: 0 0 0 40%;
    height: 50px;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.topNav {
    margin: 0 auto;
    animation: fadeIn 3s;
    float: right;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
a {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-style: bold;
    float: left;
    font-size: 130%;
    margin: 0 10px 0 0;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 5px;
}
#activePageLink {
    border-bottom: 2px solid;
    border-bottom-color: #5F8A8D;
}
.topNav a:link {
    color: #1D1D2F;
}
#headerMenu a:hover {
    color: #9FBDBE;
}
.topNav a:active {
    color: #1D1D2F;
}
.topNav a:visited {
    color: #1D1D2F;
}
.topNav .icon {
    display: none;
}
/***********************************************************************/

footer {
    width: 100%;
    height: 60px;
    margin: 0;
}
#roundButton {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: rgba(144, 198, 149, .5);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(144, 198, 149, .5);
    position: relative;
    clear: both;
    animation: fadeIn 3s;
}
#roundButton:hover {
    opacity: .5;
}
#roundButtonText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: 'Josefin Slab', serif;
    font-size: 120%;
    color: white;
    position: absolute;
}
#roundButtonText:hover {
    color: black;
}
/***********************************************************************/

.bannerCanvas {
    height: 550px;
    width: 100%;
	background-image:  url("drawing.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.bannerOpacity {
    height: 550px;
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    margin: 0;
}
.bannerContentDiv {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    float: left;
    position: relative;
}
.bannerButtonL {
    float: left;
    width: 20%;
    height: 100%;
    float: left;
    position: relative;
	
}
.bannerButtonR {
    width: 20%;
    height: 100%;
    margin: 0 auto;
    float: left;
    position: relative;
}
.button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 500%;
    color: #5F8A8D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.button:hover {
    color: #253F40;
}
#bannerTextDiv {
    width: 70%;
    margin: 0 auto;
    float: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
	animation: fadeIn;
    animation-duration: 4s;
}

#bannerText {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    color: #1D1D2F;
    font-size: 300%;
    padding: 2%;
    margin: 2%;
    animation: fadeIn 3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
}
#bannerPic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    margin: 10% auto;
    animation: fadeIn 4s;
}
/***********************************************************************/

.quarterSectionCanvas {
    height: 300px;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
    clear: both;
    background-color: #E7F4F3;
}

.quarterSection {
    width: 25%;
    height: 300px;
    float: left;
    margin: 0;
    position: relative;
}
.quarterStripe {
    width: 100%;
    height: 70px;
    position: relative;
}
.quarterStripeIcon {
    width: 20%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#quarterText {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1D1D2F;
    font-size: 100%;
    animation: fadeIn 3s;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#quarterTextTitle {
    font-family: 'Josefin Slab', serif;
    color: #1D1D2F;
    font-size: 140%;
    animation: fadeIn 3s;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.quarterTextTitleHR {
    width: 30%;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .3px solid rgba(37, 63, 64, .5);
}
.quarterSectionList{
	font-family: 'Open Sans Condensed', sans-serif;
    color: #1D1D2F;
    font-size: 100%;
    animation: fadeIn 3s;
    position: absolute;
    top: 75%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
}
#quarterButton {
    background: rgba(255,255,255, 1);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .5);
    border-style: solid;
}
#quarterButtonText {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1D1D2F;
    opacity: .7;
    font-size: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#quarterButtonIcon{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#quarterButton:hover {
    background: rgba(255,255,255, .5);
}
#quarterButtonText:hover {
    color: black;
}
/***********************************************************************/

.halfSectionCanvas {
    height: 250px;
    width: 100%;
    margin: 0;
}
.halfSection {
    margin: 0 !important;
    height: 250px;
    width: 50%;
    float: left;
    position: relative;
}
.halfSectionBG {
    margin: 0 !important;
    height: 250px;
    width: 50%;
    float: left;
    position: relative;
    background-color: rgba(23, 177, 175, .1);
}
.halfSectionTitleGrid {
    margin: 0 auto;
    height: 250px;
    width: 70%;
    float: left;
}
.halfSectionTitleDiv {
    width: 100%;
    height: 20px;
}
#halfSectionTitle {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #070033;
    font-size: 100%;
    animation: fadeIn 3s;
    width: 100%;
    margin: 1% auto;
    text-align: center;
}
.halfSectionGrid {
    width: 100%;
    float: left;
    height: 230px;
}
.row {
    height: 100px;
    margin: 0 auto;
    width: 100%;
}
.column {
    height: 100px;
    width: 33%;
    position: relative;
    float: left;
}
.halfSectionImageFull {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 200px;
	height: 200px;
	border-radius: 50%;
    border-width: 1px;
    border-color: #253F40;
    border-style: solid;
	
}
.halfSectionImage {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
	opacity: .70;
}
.halfSectionImage:hover{
	opacity: 1;
    border-color: #253F40;
    border-width: 2px;
}
.halfSectionctaDiv {
    height: 250px;
    width: 20%;
    position: relative;
    float: left !important;
    margin: 0 auto;
}
.halfSectionBraceDiv {
    height: 250px;
    width: 10%;
    position: relative;
    float: left !important;
    margin: 0 auto;
    background-image: url('curley-brackets-right.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .5;
}
#ctaButton {
    background-color: rgba(245, 171, 53, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    margin: 2% auto;
    border-radius: 50%;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}
#ctaButtonText {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1D1D2F;
    font-size: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#ctaButton:hover {
    opacity: .5;
}
#ctaButtonText:hover {
    color: black;
}
.halfSectionText {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1D1D2F;
    font-size: 110%;
    animation: fadeIn 3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: 0 auto;
}
.halfSectionList {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1D1D2F;
    font-size: 100%;
    animation: fadeIn 3s;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
}
li {
    margin: 2%;
}
.halfSectionBigTitle {
    font-family: 'Pacifico', cursive;
    color: #3A3A5E;
    font-size: 200%;
    animation: fadeIn 3s;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.halfSectionIconRow {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.halfSectionIconColumn {
    width: 50%;
    height: 30px;
    margin: 0 auto;
    float: left;
    position: relative;
}
.halfSectionIcon {
    width: 25%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 110%;
	text-align: center
}
.formFieldset{
	width: 50%;
	height: 230px;
	margin: 2% auto 0 auto;
	border: 1px solid #5F8A8D;
	padding: 10px;
	float: left;

}
legend{
	font-family: 'Josefin Slab', serif;
}
.form i{
	font-size: 80%;
}
.formOption{
	margin: 3% auto;
}
.formFileUpload{
	font-size: 80%;
	margin: 3% auto;
}
.formTextArea{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 80%;
}

.formButton{
	background-color: rgba(255,255,255, .7);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
	height: 45px;
    margin: 2% auto;
    border: none;
	font-family: 'Josefin Slab', serif;
	font-size: 130%;
}
.formButton:hover{
	background-color: rgba(255,255,255, 1);
}
/************************************************************************/

.strip {
    height: 70px;
    width: 100%;
    margin: 0;
    background: #5F8A8D;
    clear: both;
	position: relative;
}
.ctaStrip{
    height: 70px;
    width: 100%;
    margin: 0;
    background: rgba(136,198,202,1);
	/* #F5AA2A; */
    clear: both;
	position: relative;	
}

.arrowDown {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #253F40;
    
	position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 2;
	margin: 0;
}
.stripBackground {
    height: 90px;
    width: 100%;
    margin: 0;
}
.stripBox {
    width: 50%;
    float: left;
    height: 70px;
    margin: 0;
    position: relative;
}
.stripText {
    font-family: 'Josefin Slab', serif;
    font-size: 200%;
    color: #E7F4F3;
    margin: 0;
    letter-spacing: 2px;
    animation: fadeIn 2s;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#stripctaButton {
    background-color: rgba(255,255,255, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    margin: 0 auto;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(255,255,255, .7);;
    border-style: solid;
}
#stripctaButtonText {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1D1D2F;
    font-size: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#stripctaButton:hover {
   background-color: rgba(255,255,255, 1);
}
#stripctaButtonText:hover {
    color: black;
}
/***********************************************************************/

.featureTextCanvas {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}
/*following is code to flip the 'cards' */
/* entire container, keeps perspective */
/**************************************About Page Styling****************************************/

.aboutTitles {
    font-family: 'Pacifico', cursive;
    font-size: 200%;
    text-align: center;
    color: #223A5E;
    margin: 0;
}
.aboutInfo {
    font-family: 'Josefin Slab', serif;
    font-size: 100%;
    text-align: center;
    color: #223A5E;
    width: 100%;
}
* {
    box-sizing: border-box;
}
a {
    color: #f06d06;
    text-decoration: none;
}
.aboutGrid {
    max-width: 80%;
    margin: 3% auto 15% auto;
    height: 900px;
    background-image: url('indexLink.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.boxFull {
    padding: 2em;
    border: 1px solid #9C9A40;
    width: 100%;
    height: 300px;
    float: left;
    margin: -1px 0 0 -1px;
    color: black;
    background: linear-gradient( transparent, transparent 50%, rgba(34, 58, 94, 0.8) 50%, rgba(34, 58, 94, 0.8));
    background-size: 100% 202%;
    transition: all 0.5s ease;
    animation: down-bump 1s ease;
}
.boxFull:hover {
    background-position: 100% 100%;
    animation: up-bump .4s ease;
}
.boxFull:hover h2 {
    color: #48ad26;
}
.boxFull:hover h2 span {
    color: white;
}
.boxFull:hover h3 {
    color: #999;
}
/**************************************Contact Styling***************************/

.contactPic {
    width: 25%;
    float: right;
}
/**************************************KeyFrames Styling***************************/

.columnDemo {
  padding: 0;
  width: 20%; 
  float: left;
  margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(246, 251, 252, .9);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(246, 251, 252, 1);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 500px;
}

/* The Close Button */
.close {
  color: #5F8A8D;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

.close:hover,
.close:focus {
  color: #253F40;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #5F8A8D;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #253F40;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #253F40;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

.caption-container {
  text-align: center;
  background-color: rgba(246, 251, 252, 1);
  padding: 2px 16px;
  color: #253F40;
  font-family: 'Open Sans Condensed', sans-serif;
}

img.demo {
  opacity: 0.6;
  height: 100px;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}




